*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    font-size: 40px;
}
.contact-me{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: bisque;
    background-size:cover;
    flex-direction: column;
}
.contact-me .content{
 max-width: 800px;
 text-align: center;
}
.contact-me .content h2{
    font-size: 40px;
    font-weight: 700;
    color: brown;
}
.contact-me .content p{
    font-weight: 300;
}
.contain{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.contain .contactinfo{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.contain .contactinfo .box{
    position: relative;
    padding: 20px 0;
    display: flex;
}
.contain .contactinfo .box .icon{
    min-width: 60px;
    height: 60px;
    background-color:brown;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 20px;
}
.contain .contactinfo .box .icon .text{
    display: flex;
    margin-left: 20px;
    font-size: 20px;
    color: black;
    flex-direction: column;
    font-weight: 300;
}
.contain .contactinfo .box .icon .text h3{
 font-weight: 500;
 color:white;
}

.contactForm{
    width: 40%;
    padding: 40px;
    background: white;
}
.contactForm h2{
    font-size: 40px;
    color: brown;
    font-weight: 700;
}
.contactForm .inputbox{
 position: relative;
 width: 100%;
 margin-top: 10px;
}
.contactForm .inputbox input, .contactForm .inputbox textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 20px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid black;
    outline: none;
    resize: none;
}
.contactForm .inputbox span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 20px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: brown;
}
.contactForm .inputbox input:focus ~ span, 
.contactForm .inputbox input:valid ~ span,
.contactForm .inputbox textarea:focus ~ span, 
.contactForm .inputbox textarea:valid ~ span{
    color: brown;
    font-size: 20px;
    transform: translateY(-20px);
}
.contactForm .inputbox  [type="submit"]{
    width: 100px;
    background-color: saddlebrown;
    color: black;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 20px;
}